/*@import url('font.css');*/

#section0{
	position:relative;
	top:0;
	left:0;
	background-image:url(../photo/main.png);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
	width:100%

}

#logo{
	width:8.65%;
}

#img_logo{
	position:relative;
	margin-top:5%;
	left:10.8%;
}

#section_title{
	position:relative;
	margin-top:8.6%;
	left:10.2%;
	color:#ffffff;
	font-size:4vw;
	width:65.5%;
	word-break: keep-all;
	font-weight: 200;
	line-height: 170%;
}
 
#section_word0{
	font-weight: 700;
}

#ex_button{
	position:relative;
	margin-top:7%;
	left:10.6%;
}


#ex_but{
	position: relative;
	font-size:1.46vw;
	color:#000000;
	background-color:#ffffff;
	padding-top:1.5625%;
	padding-left:3.125%;
	padding-right:3.125%;
	padding-bottom:1.5625%;
	border-width:0;
}

#section1_title{
	position:relative;
	margin-top:9.5%;
	left:10.2%;
	color:#000000;
	font-size:4vw;
	width:75.5%;
	word-break: keep-all;
	font-weight: 200;
	line-height: 170%;
}

#vert_line{
	margin-top:4%;
}

#prof_name{
	position: absolute;
	top: 30.8%;
	color: black;
	left:10%;
	font-size:1.4vw;
}

.prof_text{
	position: absolute;
	top:43.54%;
	color:black;
	width:74.6%;
	left:10%;
	font-size:1.19vw;
	word-break: keep-all;
	line-height:185%;
	font-weight:200;
}

#yena_text{
	width:81%;
}
#minhee_text{
	width:79%;
}
#prof{

}

#img_prof{
	position:relative;
	width:27%;
	float:left;
	left:10.2%;
	margin-right:1.5%;
	margin-top:3.33%;
	z-index:2;
}

#second_back{
	margin-top:-10%;
	position: relative;
	width:100vw;
	height: 51.6%;
	z-index:1;
	float: left;
	left: -1%;
}

#sec_back{

}

#laptop{
	float:right;
	margin-top:-13.6%;
	position: relative;
	z-index:3;
	right:7%;
	width:40%;

}

#img_laptop{

}

#section1_title2{
	position:relative;
	margin-top:-5%;
	float:left;
	left:10.2%;
	color:#000000;
	font-size:3.7vw;
	width:75.5%;
	word-break: keep-all;
	font-weight: 200;
	line-height: 170%;
}

#test_button{
	position: relative;
	float: left;
	z-index:5;
	margin-top:7%;
	height: 39%;
	width:100%;
	left:10.2%;
	margin-bottom:10%;
}

#test_but{
	border-width:2px;
	border-style:solid;
	color: black;
	padding-top:1.5625%;
	padding-left:3.125%;
	padding-right:3.125%;
	padding-bottom:1.5625%;
	font-size: 1.46vw;

}
