#section0{
	position:relative;
	background-image:url(../photo/main.png);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
	width:100%

}

#logo{
	position:relative;
	top:59.5px;
	left:37px;
	width:23%;
}

#section_title{
	position:relative;
	top:20%;
	left:32px;
	color:#ffffff;
	font-size:2em;
	width:80%;
	line-height: 170%;
	word-break:keep-all;
}


#section_word0{
	font-weight:bold;
}

#ex_button{
	position:relative;
	text-align:center;
	top:26%
}

#ex_but{
	position: relative;
	font-size:13pt;
	color:#000000;
	background-color:#ffffff;
	padding-top:17.75px;
	padding-left:35.5px;
	padding-right:35.5px;
	padding-bottom:17.75px;
	vertical-align: middle;
}
